.App {
  display:flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.container {
  display:flex;
  width: 350px;
  min-height: 400px;
  background-color:rgb(234, 234, 234);
  border-radius: 5px;
  box-shadow:5px 5px 8px 1px #888888;
  margin-top: 20px;
  padding: 10px;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.heading_container {
  padding: 5px 15px 2px 15px;
}

.heading {
  font-size: 2em;
  font-weight:bold;
  
}

.heading_sub {
  font-size: 1.25em;
}

.score {
  display:flex;
  color: rgb(59, 59, 59);

}

.score_box {
  
  display:flex;
  flex-direction: column;
  width: 180px;
  background-color:rgb(118, 118, 118);
  margin: 10px 5px;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
}

.score_heading {
  color:white;
}

.score_results {
  background-color:white;
  border-radius: 3px;
  width: 90%;
  text-align: center;
  margin-top:5px;
  padding: 3px 0;

}

.question {
  font-size: 1.25em;
  line-height: 1.5;
  padding: 10px;

}

.question::first-letter {
  font-size: 2em;
  padding: 8px 5px;
  float: left;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
  background-color: #f6f6b6;
  border-radius: 5px;
}

.card {
  background: white;
  width: 320px;
  margin: 5px auto;
  border-radius: 9px;
  /* min-height: 100px; */
}

.btn_container {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  color:white;
}

.btn:focus {
  outline:0;
}

.btn_red {
  background-color:red;
}

.btn_green {
  background-color:green;
}

