.App {
  display:flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.container {
  width: 350px;
  background:rgb(234, 234, 234);
  border-radius: 5px;
  box-shadow:5px 5px 8px 1px #888888;
  margin-top: 20px;
}

.heading {
  font-size: 2em;
  font-weight:bold;
  padding: 5px 10px;
}

.headingsub {
  font-size: .5em;
  color: rgb(59, 59, 59);
}

.question {
  font-size: 1.25em;
  line-height: 1.5;
  padding: 10px;

}

.question::first-letter {
  
  font-size: 2em;
  padding: 8px 5px;
  float: left;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
  background-color: #f6f6b6;
  border-radius: 5px;


}

.card {
  background: white;
  width: 320px;
  margin: 5px auto;
  border-radius: 9px;
  min-height: 100px;
  /* padding: 10px 0; */
}

.btn_container {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  color:white;
}

.btn_red {
  background-color:red;
}

.btn_green {
  background-color:green;
}

